{% extends 'layout.html' %}

{% block body %}
    <h1>First Page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <mark>Et non ex maxima parte de tota iudicabis?</mark> Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus; Sedulo, inquam, faciam. Qui non moveatur et offensione turpitudinis et comprobatione honestatis? Et non ex maxima parte de tota iudicabis? <b>Duo Reges: constructio interrete.</b> Beatus autem esse in maximarum rerum timore nemo potest. <b>Quis istud possit, inquit, negare?</b> </p>

{% endblock %}