<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('first') }}">First Page</a></li>
            <li><a href="{{ url_for('second') }}">Second Page</a></li>
            <li><a href="{{ url_for('third') }}">Third Page</a></li>
        </ul>

        <hr>

        {% block body %}
        {% endblock %}        
    </body>
</html>